<p>
  Hello this is a test
</p>

<div class="content-container-fluid">
  <div class="row">
    <div class="cols-sample-area">
      <div id="container"></div>
    </div>
    <!--<div id="sampleProperties">-->
      <!--<div class="prop-grid">-->
        <!--<div class="row">-->
          <!--<div class="col-md-3">-->
            <!--Start Angle-->
          <!--</div>-->
          <!--<div class="col-md-3">-->
            <!--<div id="startAngleSlider"></div>-->
          <!--</div>-->
          <!--<div class="col-md-3">-->
            <!--End Angle-->
          <!--</div>-->
          <!--<div class="col-md-3">-->
            <!--<div id="endAngleSlider"></div>-->
          <!--</div>-->
        <!--</div>-->
        <!--<div class="row">-->
          <!--<div class="col-md-3">-->
            <!--Series Type-->
          <!--</div>-->
          <!--<div class="col-md-3">-->
            <!--<div id="dropdown">-->
              <!--<select id="optSeriesType">-->
                <!--<option value="doughnut">Doughnut</option>-->
                <!--<option value="pie">Pie</option>-->
              <!--</select>-->
            <!--</div>-->
          <!--</div>-->
        <!--</div>-->
      <!--</div>-->
    <!--</div>-->
  </div>
</div>
