<div class="row wrapper border-bottom white-bg page-heading">
  <div class="col-lg-10">
    <h2>Resource Manager POC</h2>
    <ol class="breadcrumb">
      <li>
        <a href="#/starterview">Home</a>
      </li>
      <li class="active">
        <strong>Resource Manager POC</strong>
      </li>
    </ol>
  </div>
  <div class="col-lg-2">

  </div>
</div>

<div class="wrapper wrapper-content animated fadeInRight">
  <!--<div class="wrapper wrapper-content animated fadeInRight">-->
  <div class="row ">
    <!--<div class="row dashboard-header">-->
      <div class="col-lg-7">
        <div class="input-group-btn">
          <button data-toggle="dropdown" class="btn btn-white dropdown-toggle" type="button" aria-expanded="false">Select Transponder(s)&nbsp;&nbsp;<span class="caret"></span></button>
          <ul class="dropdown-menu" id="transponderDropDown">
            <li><a href="#">Action</a></li>
          </ul>
        </div>
        <div id="transponderDonut"></div>
      </div>
      <div class="col-lg-5">
        <div class="ibox float-e-margins">
          <div class="ibox-title">
            <h5 id="allocationsTableHeader">Allocations</h5>
            <div class="ibox-tools">
              <a class="collapse-link">
                <i class="fa fa-chevron-up"></i>
              </a>
              <a class="dropdown-toggle" data-toggle="dropdown" href="#/starterview">
                <i class="fa fa-wrench"></i>
              </a>
              <ul class="dropdown-menu dropdown-user">
                <li><a href="#">Config option 1</a>
                </li>
                <li><a href="#">Config option 2</a>
                </li>
              </ul>
            </div>
          </div>
          <div class="ibox-content">
            <button type="button" data-toggle="modal" data-target="#modalAddTransponder" class="btn btn-primary btn-sm">Add Allocations</button>

            <table class="table table-bordered">
              <thead>
              <tr>
                <th>ID</th>
                <th>Name</th>
                <th>Power Limit</th>
                <th>Bandwidth</th>
                <th># of Allocations</th>
                <th>Actions</th>
              </tr>
              </thead>
              <tbody id="tbody-allocations">
              </tbody>
            </table>
          </div>
        </div>
      </div>
    <!--</div>-->
  </div>

  <div class="row">
    <div class="col-lg-12">
      <div class="ibox float-e-margins">
        <div class="ibox-title">
          <h5>Transponders</h5>
          <div class="ibox-tools">
            <a class="collapse-link">
              <i class="fa fa-chevron-up"></i>
            </a>
            <a class="dropdown-toggle" data-toggle="dropdown" href="#/starterview">
              <i class="fa fa-wrench"></i>
            </a>
            <ul class="dropdown-menu dropdown-user">
              <li><a href="#">Config option 1</a>
              </li>
              <li><a href="#">Config option 2</a>
              </li>
            </ul>
          </div>
        </div>
        <div class="ibox-content">
          <button type="button" data-toggle="modal" data-target="#modalAddTransponder" class="btn btn-primary btn-sm">Add Transponder</button>

          <table class="table table-bordered">
            <thead>
            <tr>
              <th>ID</th>
              <th>Name</th>
              <th>Power Limit</th>
              <th>Bandwidth</th>
              <th># of Allocations</th>
              <th>Actions</th>
            </tr>
            </thead>
            <tbody id="tbody-transponders">
            </tbody>
          </table>
        </div>
      </div>
    </div>
    <div class="col-lg-6">
      <div class="ibox float-e-margins">
        <div class="ibox-title">
          <h5>Customers</h5>
          <div class="ibox-tools">
            <a class="collapse-link">
              <i class="fa fa-chevron-up"></i>
            </a>
            <a class="dropdown-toggle" data-toggle="dropdown" href="#/starterview">
              <i class="fa fa-wrench"></i>
            </a>
            <ul class="dropdown-menu dropdown-user">
              <li><a href="#">Config option 1</a>
              </li>
              <li><a href="#">Config option 2</a>
              </li>
            </ul>
          </div>
        </div>
        <div class="ibox-content">
          <button type="button" data-toggle="modal" data-target="#modalAddCategory" class="btn btn-primary btn-sm">Add Customer</button>

          <table class="table table-bordered">
            <thead>
            <tr>
              <th>ID</th>
              <th>Name</th>
              <th>Actions</th>
            </tr>
            </thead>
            <tbody id="tbody-customers">
            </tbody>
          </table>
        </div>
      </div>
    </div>
    <div class="col-lg-6">
      <div class="ibox float-e-margins">
        <div class="ibox-title">
          <h5>Originators</h5>
          <div class="ibox-tools">
            <a class="collapse-link">
              <i class="fa fa-chevron-up"></i>
            </a>
            <a class="dropdown-toggle" data-toggle="dropdown" href="#/starterview">
              <i class="fa fa-wrench"></i>
            </a>
            <ul class="dropdown-menu dropdown-user">
              <li><a href="#">Config option 1</a>
              </li>
              <li><a href="#">Config option 2</a>
              </li>
            </ul>
          </div>
        </div>
        <div class="ibox-content">
          <button type="button" data-toggle="modal" data-target="#modalAddCategory" class="btn btn-primary btn-sm">Add Originator</button>

          <table class="table table-bordered">
            <thead>
            <tr>
              <th>ID</th>
              <th>Name</th>
              <th>Actions</th>
            </tr>
            </thead>
            <tbody id="tbody-originators">
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>

</div>
