/*!************ jqWidgets' Docking Layout ***************!*/
/*Content borders*/
.jqx-widget-content {
  border-color: #f3f3f4;
}

/*Tab header color*/
.jqx-widget-header {
  border-color: #f3f3f4;
  background-color: #f3f3f4;
}
